body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.no-bullets{
  list-style-type: none;
}

.msg-date{
  font-size: 10px;
  color: rgb(97, 97, 97);
}

.no-resize{
  resize:none;
}

a:link, a:visited {
  background-color: #757575;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(73, 73, 73);
}